<div class="main-container flex center-center">
    <div class="main-inner">
        <div class="nav-bar flex spaceBetween-center color-purple">
            <div class="flex center-center gap-1em">
                <h1>everysh0p.</h1>
                <h3>products</h3>
                <h3>Brands</h3>
            </div>
            <div class="flex center-center gap-1em">
                <input class="search-input relative" type="search" placeholder="search products or brands">
                <span class="material-symbols-outlined absolute search-position">search</span>
                <span class="material-symbols-outlined">favorite</span>
                <div class="account flex center-center gap-05em"><span
                        class="material-symbols-outlined">account_circle</span>
                    <p><b>my Account</b></p>
                </div>
                <div class="flex center-center gap-05em account2"><span
                        class="material-symbols-outlined">shopping_cart</span>
                    <p>1</p>
                </div>
            </div>
        </div>
        <div class="headercolor-white flex spaceBetween-center full-width">
            <div class="header full-width header-position "></div>
            <div class="flex center-center gap-1em color-white">
                <p>Love your Home</p>
                <p><sup>.</sup></p>
                <p>Better living</p>
            </div>
            <div class="flex center-center gap-05em color-white">
                <span class="material-symbols-outlined">location_on</span>
                <p>Track my order</p>
            </div>
        </div>
        <div class="content full-width flex">
            <div class="left flex center-center relative">
                <div class="price-tag absolute">
                    <h3 class="text-center">save <br> R <br> 2000</h3>
                </div>
                <div><img class="image" src="../../../assets/1_31010254_09_01_f_ro16106dwhc7r-za-X-scaled.jpg"
                        alt="washing machine"></div>
            </div>
            <div class="right">
                <h4 class="margin-0">Defy</h4>
                <h2 class="margin-0 box-sizing">Defy 9kg SteamCure Front Loader Washer DAW389</h2>
                <p class=" margin-0">product code : 000000000010288655</p>
                <div class="flex gap-05em  padding-10">
                    <h2 class="price-color margin-0">R 7,449</h2>
                    <h4 class="margin-0 color-gray"><S>R 9,499</S></h4>
                </div>
                <div class="flex text-center align-center ">
                    <span class="material-symbols-outlined color-yellow">star_half</span>
                    <span class="material-symbols-outlined color-yellow">star</span>
                    <span class="material-symbols-outlined color-yellow">star</span>
                    <span class="material-symbols-outlined color-yellow">star</span>
                    <span class="material-symbols-outlined color-yellow">star</span>
                    <p>( 9 Reviews)</p>
                    <h4 class="padding-10 flex center-center color-purple margin-0">Write a review <span
                            class="material-symbols-outlined">stylus</span></h4><br>

                </div>
                <p class="color-orange margin-0">sale ends sunday, 31 March 2024</p>
                <br>
                <div class="flex align-center gap-05em"><span class="material-symbols-outlined">qr_code_scanner</span>
                    <p class="margin-0">payflex</p>
                    <p class="margin-0">R1,875*</p>
                    <span class="material-symbols-outlined color-orange">info</span>
                </div>
                <div class="flex align-center gap-05em"><span class="material-symbols-outlined">
                        local_shipping</span>
                    <p>dilivery in 2 to 5 working days</p>
                </div>

                <div class="flex gap-1em ">
                    <div class="flex gap-1em margin-0 spaceBetween-center"
                        style="background-color: lightgray; width: 100px;border-radius: 20px; height: 45px;">
                        <p class="signs padding-5">-</p>
                        <p>1</p>
                        <p class="signs padding-5">+</p>
                    </div>
                    <div class="add-to-cart border-radius flex center-center">add to cart</div>
                    <div class="flex center-center gap-05em"><span class="material-symbols-outlined heart">favorite</span>
                        <span class="material-symbols-outlined color-orange heart1">info</span>
                    </div>
                </div>
                <div class="features">
                    <h3>key features</h3>
                    <div class="radio flex wrap gap-1em">
                        <div class="flex spaceBetween-center"><input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">A++++ energy rating</label>
                        </div>

                        <div class="flex spaceBetween-center">
                              <input type="radio" id="html" name="fav_language" value="HTML">
                              <label for="html">15 programmes</label>
                        </div>

                        <div class="flex spaceBetween-center">
                              <input type="radio" id="html" name="fav_language" value="HTML">
                              <label for="html">time delay function</label>
                        </div>

                        <div class="flex spaceBetween-center">
                              <input type="radio" id="html" name="fav_language" value="HTML">
                              <label for="html">white LED digital dispaly</label>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>